/* ── Base ── */
$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);

/* ── Purple ── */
$purple-950: hsl(292, 42%, 14%);
$purple-600: hsl(292, 16%, 49%);
$purple-100: hsl(275, 100%, 97%);

/* ── Violet ── */
$violet-600: hsl(281, 83%, 54%);

$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
